@import "tailwindcss";

:root {
  --gray-0: hsl(0, 0%, 100%);
  --gray-100: hsl(210, 8%, 91%);
  --gray-150: hsl(210, 15%, 89%);
  --gray-200: hsl(205, 17%, 80%);
  --gray-300: hsl(210, 9%, 67%);
  --gray-400: hsl(208, 10%, 54%);
  --gray-500: hsl(207, 10%, 41%);
  --gray-600: hsl(204, 12%, 24%);
  --gray-700: hsl(205, 18%, 21%);
  --gray-800: hsl(205, 27%, 16%);
  --gray-900: hsl(206, 41%, 12%);

  --green-100: hsl(141, 100%, 69%);
  --green-200: hsl(141, 87%, 61%);
  --green-300: hsl(141, 76%, 55%);
  --green-400: hsl(141, 67%, 51%);
  --green-500: hsl(141, 72%, 46%);
  --green-600: hsl(141, 77%, 40%);
  --green-700: hsl(141, 83%, 33%);
  --green-800: hsl(141, 89%, 25%);
  --green-900: hsl(141, 96%, 20%);

  --red-100: hsl(0, 100%, 95%);
  --red-150: hsl(0, 77%, 86%);
  --red-200: hsl(0, 71%, 77%);
  --red-300: hsl(0, 61%, 63%);
  --red-400: hsl(0, 50%, 48%);
  --red-500: hsl(0, 57%, 39%);
  --red-600: hsl(0, 61%, 28%);
  --red-700: hsl(0, 63%, 23%);
  --red-800: hsl(0, 65%, 15%);
  --red-900: hsl(0, 65%, 15%);

  --chart-1: rgba(255, 99, 132, 0.2);
  --chart-2: rgba(54, 162, 235, 0.2);
  --chart-3: rgba(255, 206, 86, 0.2);
  --chart-4: rgba(75, 192, 192, 0.2);
  --chart-5: rgba(153, 102, 255, 0.2);
  --chart-6: rgba(255, 159, 64, 0.2);

  --chart-1-border: rgba(255, 99, 132, 1);
  --chart-2-border: rgba(54, 162, 235, 1);
  --chart-3-border: rgba(255, 206, 86, 1);
  --chart-4-border: rgba(75, 192, 192, 1);
  --chart-5-border: rgba(153, 102, 255, 1);
  --chart-6-border: rgba(255, 159, 64, 1);
}

@layer utilities {
  .bg-banner {
    background-image: radial-gradient(
      at 50% 50%,
      var(--gray-100) 10%,
      var(--gray-200) 90%
    );
  }

  .bg-nav {
    background-image: linear-gradient(
      180deg,
      color-mix(in srgb, var(--gray-300) 75%, transparent),
      color-mix(in srgb, var(--gray-200) 75%, transparent)
    );
  }

  .inset-shadow-div {
    --tw-inset-shadow-color: color-mix(in srgb, var(--gray-500) 50%, transparent);
  }

  .shadow-div {
    --tw-shadow-color: color-mix(in srgb, var(--gray-500) 50%, transparent);
  }

  .dark-mode .inset-shadow-div {
    --tw-inset-shadow-color: color-mix(in srgb, var(--gray-0) 50%, transparent);
  }

  .dark-mode .shadow-div {
    --tw-shadow-color: color-mix(in srgb, var(--gray-0) 50%, transparent);
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--gray-100);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-900);
  border-radius: 4px;
}

body {
  background-color: var(--gray-100);
}

.page-section {
  @apply py-10 px-5 sm:px-10 md:p-20 gap-5;
}

h1,
h2,
p,
b,
a {
  color: var(--gray-900);
}

h1 {
  font-family: var(--font-lexend), sans-serif;
  font-weight: 800;
}

h2,
h3,
p {
  font-family: var(--font-open-sans), sans-serif;
}

h2 {
  font-weight: 800;
}

h3 {
  font-weight: 500;
}

.code {
  font-family: var(--font-code), sans-serif;
}

.slanted {
  clip-path: polygon(0% 0%, 100% 5rem, 100% 100%, 0% calc(100% - 5rem));
}

/* Silly colors */
:root.pink-mode {
  --gray-0: hsl(345, 100%, 84%);
  --gray-100: hsl(345, 100%, 75%);
  --gray-150: hsl(345, 100%, 70%);
  --gray-200: hsl(345, 95%, 62%);
  --gray-300: hsl(345, 90%, 52%);
  --gray-400: hsl(345, 85%, 42%);
  --gray-500: hsl(345, 85%, 34%);
  --gray-600: hsl(345, 90%, 24%);
  --gray-700: hsl(345, 95%, 16%);
  --gray-800: hsl(345, 100%, 10%);
  --gray-900: hsl(345, 100%, 5%);

  --green-100: hsl(320, 100%, 93%);
  --green-200: hsl(320, 100%, 83%);
  --green-300: hsl(320, 100%, 72%);
  --green-400: hsl(320, 100%, 62%);
  --green-500: hsl(320, 100%, 52%);
  --green-600: hsl(320, 100%, 42%);
  --green-700: hsl(320, 100%, 32%);
  --green-800: hsl(320, 100%, 22%);
  --green-900: hsl(320, 100%, 14%);

  --red-100: hsl(0, 100%, 83%);
  --red-150: hsl(0, 77%, 74%);
  --red-200: hsl(0, 71%, 65%);
  --red-300: hsl(0, 61%, 51%);
  --red-400: hsl(0, 54%, 38%);
  --red-500: hsl(0, 60%, 29%);
  --red-600: hsl(0, 63%, 19%);
  --red-700: hsl(0, 65%, 14%);
  --red-800: hsl(0, 67%, 8%);
  --red-900: hsl(0, 67%, 5%);

  --chart-1: rgba(0, 230, 200, 0.2);
  --chart-2: rgba(255, 220, 0, 0.2);
  --chart-3: rgba(130, 0, 255, 0.2);
  --chart-4: rgba(255, 140, 0, 0.2);
  --chart-5: rgba(0, 180, 255, 0.2);
  --chart-6: rgba(180, 255, 0, 0.2);

  --chart-1-border: rgba(0, 230, 200, 1);
  --chart-2-border: rgba(255, 220, 0, 1);
  --chart-3-border: rgba(130, 0, 255, 1);
  --chart-4-border: rgba(255, 140, 0, 1);
  --chart-5-border: rgba(0, 180, 255, 1);
  --chart-6-border: rgba(180, 255, 0, 1);
}

:root.pretty-mode {
  --gray-0: hsl(307, 100%, 50%);
  --gray-100: hsl(307, 100%, 50%);
  --gray-150: hsl(33, 100%, 50%);
  --gray-200: hsl(130, 100%, 50%);
  --gray-300: hsl(65, 100%, 45%);
  --gray-400: hsl(290, 100%, 45%);
  --gray-500: hsl(80, 100%, 40%);
  --gray-600: hsl(280, 100%, 35%);
  --gray-700: hsl(120, 100%, 35%);
  --gray-800: hsl(270, 100%, 25%);
  --gray-900: hsl(130, 100%, 20%);

  --green-100: hsl(315, 100%, 60%);
  --green-200: hsl(100, 100%, 55%);
  --green-300: hsl(305, 100%, 50%);
  --green-400: hsl(110, 100%, 45%);
  --green-500: hsl(295, 100%, 45%);
  --green-600: hsl(120, 100%, 40%);
  --green-700: hsl(285, 100%, 35%);
  --green-800: hsl(130, 100%, 30%);
  --green-900: hsl(275, 100%, 25%);

  --red-100: hsl(0, 100%, 95%);
  --red-150: hsl(0, 77%, 86%);
  --red-200: hsl(0, 71%, 77%);
  --red-300: hsl(0, 61%, 63%);
  --red-400: hsl(0, 50%, 48%);
  --red-500: hsl(0, 57%, 39%);
  --red-600: hsl(0, 61%, 28%);
  --red-700: hsl(0, 63%, 23%);
  --red-800: hsl(0, 65%, 15%);
  --red-900: hsl(0, 65%, 15%);

  --chart-1: rgba(255, 0, 0, 0.2);
  --chart-2: rgba(0, 255, 0, 0.2);
  --chart-3: rgba(0, 0, 255, 0.2);
  --chart-4: rgba(255, 255, 0, 0.2);
  --chart-5: rgba(255, 0, 255, 0.2);
  --chart-6: rgba(0, 255, 255, 0.2);

  --chart-1-border: rgba(255, 0, 0, 1);
  --chart-2-border: rgba(0, 255, 0, 1);
  --chart-3-border: rgba(0, 0, 255, 1);
  --chart-4-border: rgba(255, 255, 0, 1);
  --chart-5-border: rgba(255, 0, 255, 1);
  --chart-6-border: rgba(0, 255, 255, 1);
}

:root.dark-mode {
  --gray-0: hsl(214, 45%, 8%);
  --gray-100: hsl(213, 42%, 11%);
  --gray-150: hsl(213, 40%, 14%);
  --gray-200: hsl(212, 38%, 18%);
  --gray-300: hsl(211, 32%, 27%);
  --gray-400: hsl(210, 24%, 40%);
  --gray-500: hsl(209, 16%, 55%);
  --gray-600: hsl(208, 10%, 68%);
  --gray-700: hsl(207, 7%, 80%);
  --gray-800: hsl(206, 4%, 90%);
  --gray-900: hsl(0, 0%, 100%);

  --green-100: hsl(141, 100%, 69%);
  --green-200: hsl(141, 87%, 61%);
  --green-300: hsl(141, 76%, 55%);
  --green-400: hsl(141, 67%, 51%);
  --green-500: hsl(141, 72%, 46%);
  --green-600: hsl(141, 77%, 40%);
  --green-700: hsl(141, 83%, 33%);
  --green-800: hsl(141, 89%, 25%);
  --green-900: hsl(141, 96%, 20%);

  --chart-1: rgba(255, 99, 132, 0.15);
  --chart-2: rgba(54, 162, 235, 0.15);
  --chart-3: rgba(255, 206, 86, 0.15);
  --chart-4: rgba(75, 192, 192, 0.15);
  --chart-5: rgba(153, 102, 255, 0.15);
  --chart-6: rgba(255, 159, 64, 0.15);

  --chart-1-border: rgba(255, 99, 132, 0.8);
  --chart-2-border: rgba(54, 162, 235, 0.8);
  --chart-3-border: rgba(255, 206, 86, 0.8);
  --chart-4-border: rgba(75, 192, 192, 0.8);
  --chart-5-border: rgba(153, 102, 255, 0.8);
  --chart-6-border: rgba(255, 159, 64, 0.8);
}
