@import url('./bio/bio.css');
@import url('./info-card/info-card.css');

#content {
    position: fixed;

    display: grid;
    grid-template: "bio info-cards" 1fr / 1.25fr 0.75fr;
    gap: var(--default-gap);
    padding: var(--default-gap);
    opacity: 0;
    z-index: 1;
}

#content #bio {
    grid-area: bio;
}

#content #info-cards {
    grid-area: info-cards;
}