#info-cards {
    background-color: #00000000;
}

.info-card {
    --info-bg: #ffffff;

    position: fixed;
    background-color: var(--info-bg);
    border-radius: var(--default-border-radius);
    padding-left: var(--default-gap);
    padding-right: var(--default-gap);
    padding-top: var(--default-gap)/2;
    padding-bottom: var(--default-gap)/2;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}