@import url('./global/rounded.css');

@font-face {
    font-family: 'Garet-Heavy';
    src: url('./../fonts/garet/Garet-Heavy.ttf');
}

@font-face {
    font-family: 'Garet-Book';
    src: url('./../fonts/garet/Garet-Book.ttf');
}

html, body {
    --default-border-radius: 0.1cm;
    --default-gap: 1cm;

    margin: 0;
    padding: 0;
    font-family: 'Garet-Book';
    font-size: 1.2em;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100%;
}

h1 {
    font-family: 'Garet-Heavy';
}

a {
    color: #030046;
}

textarea {
    vertical-align: top;
    padding-top: 0.5em;
    line-height: 1.2;
    resize: none;
}

body input, textarea, button {
    border-radius: var(--default-border-radius);
    border-color: #000000;
    border-width: 3px;
}

button {
    transition: ease-out 0.2s;
}

button:hover {
    transform: scale(105%);
}

a {
    transition: ease-out 0.1s;
    z-index: 1;
}

a:hover {
    transform: scale(120%);
    z-index: 2;
}