#content {
    --content-bg: #ffffff;

    position: fixed;
    background-color: var(--content-bg);
    z-index: 1;
    width: 100vw;
    height: auto;
    opacity: 0;
}

#content #repositories {
    background-color: #00000025;
    text-align: center;
    border-radius: 0.1cm;
    margin-left: 15vw;
    margin-right: 15vw;
}



#content #statistics div{
    background-color: #00000000;
    display: flex;
    justify-content: center;
    gap: 0.5cm;
}