#title-banner {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    font-size: 2vw;
    background-color: #eff0f2;
    outline-color: #000000;
    outline-width: 0.1cm;
    outline-style: solid;
    width: 100vw;
    height: 100vh;
}

#title-banner h1{
    font-size: 6vw;
}

#title-banner #description{
    outline-color: #000000;
    outline-width: 0.1em;
    outline-style: solid;
    margin-left: 25vw;
    margin-right: 25vw;
}

#title-banner p{
    font-size: 0.5em;
}

#repositories {
    background-color: #00000025;
    text-align: center;
    border-radius: 0.1cm;
    margin-left: 15vw;
    margin-right: 15vw;
}

#statistics div{
    background-color: #00000000;
    display: flex;
    justify-content: center;
    gap: 0.5cm;
}