#title-banner {
    position: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    font-size: 2vw;
    background-color: #eff0f2;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-image:
        linear-gradient(to bottom, #0000004b 25%, #00000000 75%);
}

#title-banner h1{
    font-size: 6vw;
}

#title-banner #description{
    outline-color: #000000;
    outline-width: 0.1em;
    outline-style: solid;
    margin-left: 25vw;
    margin-right: 25vw;
}

#title-banner p{
    font-size: 0.5em;
}

#title-banner #scroll-text{
    opacity: 0;
    transition: opacity 1s;
}

#title-banner #scroll-text{
    opacity: 0;
}