.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-left: 1cm;
    padding-right: 1cm;
    gap: 0.5cm;
    box-sizing: border-box;
    pointer-events: all;
}

.contacts * {
    flex-shrink: 1;
    min-width: 0;
}

.contacts img {
    width: 2cm;
    aspect-ratio: 1/1;
}