.repository {
    display: flex;
    border-radius: 25px;
    justify-items: center;
    justify-content: center;
    padding: 0;
    transition: transform ease-in-out 0.25s;
    perspective: 1000px;
    resize: both;
}

.repository:hover {
    transform: scale(120%);
}

.repository #card {
    display: grid;
    grid-template-areas:
        "title right"
        "desc right";
    border-radius: inherit;
    border-width: 3px;
    border-color: rgb(153, 153, 153);
    border-style: solid;
    text-align: left;
    min-width: 10cm;
    max-width: none;
    resize: both;
    padding: 25px;
    gap: 10px;
    background-image:
        linear-gradient(to left bottom, #eaeaea 0%, #c8c8c8 33%, #ffffff 75%);
    transition: transform 0.02s ease-in-out;
    will-change: transform;
}

.repository #card #desc {
    grid-area: desc;
}

.repository #card #title {
    grid-area: title;
    white-space: nowrap;
}

.repository #card #icon {
    display: flex;
    height: 3cm;
    margin: auto;
    border-radius: 10px;
    border-color: rgb(196, 196, 196);
    border-style: solid;
    border-width: 2px;
    aspect-ratio: 1/1;
    text-align: center;
    justify-items: center;
    justify-content: center;
    transition: border-color 0.25s ease-in-out;
}

.repository #card #icon:hover {
    border-color: rgb(90, 90, 90);
}

.repository #card #icon img {
    border-radius: inherit;
    aspect-ratio: 1/1;
}

.repository #card #right {
    display: flex;
    grid-area: right;
    justify-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}

.repository-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 0;
    z-index: 15;
    opacity: 0.5;
}

.repository-cell:hover {
    z-index: 9999;
    opacity: 1;
}

.repository-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: left;
    max-width: 100%;
    box-sizing: border-box;
    z-index: 10;
}

.repository-gallery,
.in-title {
    position: absolute;
    top: 55vh;
    width: 100vw;
    height: 40vh;
}

@media (max-width: 1000px) {
    .repository #card {
        min-width: 7.5cm;
    }

    .repository #card #icon {
        height: 2cm;
    }
}