.title {
    position: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    background-color: #eff0f2;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-image:
        linear-gradient(to bottom, #0000004b 25%, #00000000 75%);
}

.title h1 {
    font-size: 9vw
}