@import url('./contacts.css');
@import url('./ticket-form.css');

#bio {
    --bio-bg: #ffffff;

    background-color: var(--bio-bg);
    z-index: 1;
    padding: var(--default-gap);
    border-radius: var(--default-border-radius);
}