#contact-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 1cm;
    padding-right: 1cm;
    gap: 1cm;
}

#contact-list img{
    width: 2cm;
    aspect-ratio: 1/1;
}