#ticket-form {
    --default-padding: 0.1cm;
    display: grid;
    grid-template: 
        "title title" 1fr
        "email email" 1fr
        "first last" 1fr
        "message message" 1fr
        "message message" 1fr
        "status status" 1fr
        "submit submit" 1fr
        / 1fr 1fr
        ;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 0.1cm;
}

@media screen and (max-width: 600px) {
    #ticket-form {
        grid-template: 
        "title" 1fr
        "email" 1fr
        "first" 1fr
        "last" 1fr
        "message" 1fr
        "status" 1fr
        "submit" 1fr
        / 1fr 1fr
        ;
        text-align: center;
    }

    .ticket-form-component{
        justify-content: center;
    }
}

.ticket-form-component{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: column;

    padding: var(--default-padding);
}

#ticket-form #title{
    grid-area: title;
    text-align: center;
}

#ticket-form #ticket-email{
    grid-area: email;
}

#ticket-form #ticket-first{
    grid-area: first;
}

#ticket-form #ticket-last{
    grid-area: last;
}

#ticket-form #ticket-message{
    grid-area: message;
}

#ticket-form #ticket-message textarea{
    height: 2cm;
}

#ticket-form #ticket-status{
    grid-area: status;
    text-align: center;
}

#ticket-form #ticket-submit{
    grid-area: submit;
}

#ticket-form button{
    margin-left: 30%;
    margin-right: 30%;
}